# Copy this to .env and fill in your values.
# Run 'bash bin/setup' to set these automatically.

DO_TOKEN=
DO_SPACES_KEY=
DO_SPACES_SECRET=
SSH_KEY=~/.ssh/astro-server
REPO_URL=https://github.com/YOUR_ORG/astroneer-server-kit
